@import "app/assets/stylesheets/bourbon";
@import "neat";

$japan-theme:     '.wa-theme, .moon-theme';
$white-msg-theme: '.cinema-theme, .wa-theme';
$glass-msg-theme: '.moon-theme, .night-theme, .star-theme';
