$film-left:     12px;
$action-left:  107px;
$action-border: 18px;

@mixin film() {
  table.talk {
    th {
      width: $action-left + 11px;
      > .chrblank,
      > img {
        margin-left: $film-left;
      }
    }
  }

  .action {
    margin: 0 0 6px $action-left;
    border-width: 2px 0 2px $action-border;
  }

  .drag_head .badge,
  .drag_foot .badge {
    margin-left: ( $film-left - 3px ) * 2;
  }
}

@mixin input-field($width) {
  $full: 99%;
  $label: percentage(120px / $width);
  @if $width < 300px { $full: 98%; $label: percentage(100px / $width); }
  @if $width < 200px { $full: 97%; $label: percentage( 80px / $width); }
  $form: $full - $label;

  .text,
  fieldset,
  textarea {
    width: $width;
  }
  .text {
    .label {
      width: $label;
    }
    .wrapper {
      width: $form;
    }
  }
  fieldset {
    span.form-label label.control-label,
    label {
      width: $label;
    }
    span.form-wrapper input {
      width: $form;
    }
  }
}

@mixin width($base, $step, $_) {
  $head-list:  458px, 458px, 458px, 458px, 458px, 458px, 580px, 580px, 580px, 580px, 770px, 770px, 770px, 770px, 770px, 770px, 770px, 770px, 770px, 770px, 770px, 770px, 99999px;
  $width-list: 290px, 320px, 350px, 380px, 410px, 440px, 470px, 500px, 530px, 560px, 590px, 620px, 650px, 680px, 710px, 740px, 770px, 800px, 830px, 860px, 890px, 920px, 99999px;
  @for $idx from 1 through 22 {
    $content: nth($width-list, $idx);
    $td:   $content - $action-left - $film-left +  1px; // see film style.
    $text: $content - $action-left - $film-left - 14px; // see film style.
    $head: nth($head-list, $idx);
    $min: nth($width-list, $idx    ) + $base + ($idx + 0) * $step + 0.01;
    $max: nth($width-list, $idx + 1) + $base + ($idx + 1) * $step;

    @if $idx == 1 { $min: 1px; }

    @media screen and (min-width: $min) and (max-width: $max) {
      #head_navi {
        .images_field {
        }
      }

      h1 img {
        max-width: $content;
        width: $head;
      }
      h1,
      .memo,
      .talk {
        width: $content;
      }
      table.talk td {
        width: $td;
      }
      .action {
        width: $text - 8px;
      }
      table.memo td,
      table.talk td div.msg{
        width: $text;
      }
      .guide,
      .paragraph,
      .outframe,
      .contentframe {
        width: $content;
        @include input-field($content - 24px);
      }
      .action,
      table.memo td,
      table.talk td div.msg{
        @include input-field($text - 10px);
      }
    }
  }
}

@mixin portrate($width, $height, $radius, $line) {
  img + {
    .bar {
      height: $line;
    }

    .bar,
    .chrblank,
    .chrM,
    .chrF {
      margin: -4px 1px 3px 1px;
      padding: 0;
    }
  }

  .bar,
  .chrblank,
  .chrM,
  .chrF {
    border-radius: $radius;
    max-width:     $width - 2px;
    width:         $width - 2px;
  }

  .chrbox,
  .say img {
    max-width:     $width;
    width:         $width;
  }

  .chrbox,
  .say {
    img {
      max-height: $height;
      height:     $height;
    }
  }
}
