
.rbx
.DS_Store
.bundle
.awspublish-giji-assets
db/*.sqlite3
log/
tmp/
node_modules
.sass-cache/
config/database.yml
config/mongoid.yml
config/omni_auth.yml
config/deploy
config/yaml
config/initializers/secret.rb
public/assets-master/*.gz
public/images/15girls
public/images/TMMI
public/images/banner
public/images/bloody
public/images/bunmei
public/images/juna
public/images/name
public/images/orange
public/images/portrate
public/images/portrate_april
public/images/portrate_sf++
public/images/sow
public/MagicTouch
test/
vendor/cache
