br
address
  | 人狼議事キャラセット by りりんら
  br
  | 管理
  code  sol・la
  code
    a(href="mailto:7korobi@gmail.com" taborder="-1") ななころび

  br
  br
  code(style="display:inline-block;")
    | 下記の場所以外では、人狼議事内キャラチップ
    br
    | の利用を許諾しておりません。ご了承ください。
  br
  code(style="display:inline-block;text-align:left;")
    | 議事総合トップ
    br
    | 人狼議事lobby
    br
    | 人狼議事morphe
    br
    | 人狼議事cafe
    br
    | 人狼議事perjury
    br
    | 人狼議事xebec
    br
    | 人狼議事crazy
    br
    | 人狼議事ciel
    br
    br
    | SoyBean
    br
    | Sangria
    br
    | @7korobi
  br
  br
br
br
