.cinema-theme {
  .drag,
  .outframe {
    background-image: url("../images/bg/renga.png");
    background-repeat: repeat;
    background-position: right;
    background-attachment: fixed;
  }

  .contentframe {
    background-repeat: repeat-y;
    background-position: left;
    background-attachment: local;
  }

  &.wide-width {
    .contentframe {
      background-image: url("../images/bg/film-L.png");
    }
  }

  &.std-width {
    .contentframe {
      background-image: url("../images/bg/film-L.png");
    }
  }

  &.mini-width {
    .contentframe {
      background-image: url("../images/bg/film-S.png");
    }
  }

  body {
    background: #764;
  }

  h1 a img {
    box-shadow: rgba(208, 208, 255, 0.3) 0 2px 2px;
  }
  @include header-tone(#bb4, #662, #224);
  @include border-tone(black, #dff, 3px double, #863, #383430);

  #calc {
    th, td {
      border-width: 2px 4px;
      border-color: #333;
      border-style: solid;
    }
  }

  nav,
  header {
    @include color-tone(glass, #765, #444);
  }

  #sayfilter {
    aside {
      @include stripe-tone(white, #444, #aa7, #eed);
    }
    .head,
    .foot {
      background-color: #863;
    }
    padding-left: 6px;
    aside {
      margin-left: 6px;
      border-width: 0;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      border-left:   2px solid #aa7;
      border-right:  3px solid #863;
    }
    .head,
    .foot {
      border-radius : 0.5em;
    }
  }

  .MSAY,
  .SSAY,
  .SAY,
  .QUEUE { @include color-tone(white, #000, #cb8);}

  .MAKER.guide,
  .ADMIN.guide,
  .INFONOM,
  .INFOSP,
  .INFOWOLF {
    border-width: 2px 0;
    border-style: dashed none;
    border-color: #863;
  }
  .caution {
    border-width: 2px 0;
    border-style: dashed none;
    border-color: #ccc;
  }

  .msg{
    border-radius: 0.5rem;
  }

  .action {
    border-style: dashed none dashed solid ;
    border-color: #663;
  }

  .memo {
    border-color: #664;
    color: #000;
    th {
      border-color: #000;
    }
    td {
      border-color: #000;
    }
  }
}
