.night-theme {
  .drag {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .outframe {
    background-color: #000;
    background-image: url("../images/bg/moon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .contentframe {
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: local;
  }

  &.wide-width {
    .contentframe {
      background-image: url("../images/bg/film-wa770.png");
    }
  }

  &.std-width {
    .contentframe {
      background-image: url("../images/bg/film-wa580.png");
    }
  }

  &.mini-width {
    .contentframe {
      background-image: url("../images/bg/film-wa460.png");
    }
  }

  @include border-theme-black(#000, #55a, #224);
  @include vivid(#100, #55a, #eed);
  @include main-theme(#eeb, rgba(0,0,0, 0.33), #224);
  .MSAY,
  .SSAY,
  .SAY,
  .QUEUE,
  .mes_nom { @include msg-color-black(#eeb, rgba(0,0,0, 0.33));}

  &.large-layout,
  &.center-layout {
    .outframe {
      background-position: right top;
      border-right: 1px solid #403;
      border-left : 1px solid #403;
    }
  }

  &.mini-layout,
  &.game-layout,
  &.right-layout {
    .outframe {
      background-position: right top;
      border-left: 1px solid #403;
    }
  }

  .potofs {
    thead,
    tbody,
    tr {
      border-top: 1px solid #000;
    }
  }

  .insayfilter {
    .paragraph {
      border-width: 0 ;
      background: #000;
    }
    th, td, li {
      background-color: rgba(255,255,255,0.1);
    }
  }

  .sayfilter_heading {
    font-weight: bold;
    background: #444;
  }

  .sayfilter_content .head,
  .sayfilter_caption_enable {
    font-weight: normal;
    margin: 3px 0 0 0 ;
    padding: 1px;
    background: #444;
  }

  .sayfilter_content_enable    ,
  .sayfilter_content_disenable ,
  .sayfilter_button_lump {
    border-bottom: 1px dotted #863;
    background: #000;
  }

  .MAKER.guide,
  .ADMIN.guide,
  .INFONOM,
  .INFOSP,
  .INFOWOLF,
  .info ,
  .infosp ,
  .infowolf {
    border-width: 3px 0;
    border-style: double none;
  }

  .MAKER.guide,
  .ADMIN.guide {
    border-color: #720;
  }

  .INFONOM {
    border-color: #113;
    background-color: #001;
  }
  .INFOSP {
    border-color: #113;
    background-color: #010;
  }
  .INFOWOLF {
    border-color: #113;
    background-color: #100;
  }

  .caution {
    border-color: #ccc;
    background-color: #111;
  }

  .memo {
    th {
      border-color: #113;
      background-color: #000;
    }
    td {
      border-color: #113;
    }
  }

  .formpl_gm ,
  .formpl_gm  textarea{
    border-color: #444;
    color: #ffa;
    background-color: #100;
  }

  .toolbox,
  body {
    background-color: #220005 !important;
  }

  a {
    text-decoration: none;
  }

  h1 a img {
    box-shadow: #806 0 2px 2px;
  }

  h2 {
    background: #224;
    &:before, &:after {
      border-color: transparent #448;
    }
  }

  h3 {
    background: #113;
    &:before, &:after {
      border-color: transparent #226;
    }
  }
}
