.night-theme {
  .drag {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .outframe {
    background-color: #000;
    background-image: url("../images/bg/moon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .contentframe {
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: local;
  }

  &.wide-width {
    .contentframe {
      background-image: url("../images/bg/film-wa770.png");
    }
  }

  &.std-width {
    .contentframe {
      background-image: url("../images/bg/film-wa580.png");
    }
  }

  &.mini-width {
    .contentframe {
      background-image: url("../images/bg/film-wa460.png");
    }
  }

  #stories {
    @include win-tone(white, #dff, #200);
    table.table {
      border: 1px solid #776655;
      border-left: 1px dashed #776655;
      border-right: 1px dashed #776655;
      table {

      }
    }
  }
  #topviewer,
  .paragraph {
    @include border-tone(glass, #dff, rgba(0,0,0,0.3));
  }
  #headline,
  #css_changer {
    @include border-tone(black, #dff, #200);
  }
  #calc {
    th, td {
      border-width: 2px 4px;
      border-color: #333;
      border-style: solid;
    }
  }

  nav,
  header {
    @include color-tone(glass, #765, #444);
  }

  #sayfilter {
    aside {
      @include stripe-tone(black, #dff, #622, #422);
    }
    .head,
    .foot {
      background-color: #444;
    }
    padding-left: 6px;
    aside {
      margin-left: 6px;
    }
  }

  .MSAY,
  .SSAY,
  .SAY,
  .QUEUE { @include color-tone(glass, #eeb, rgba(0,0,0, 0.4));}

  .MAKER.guide,
  .ADMIN.guide,
  .INFONOM,
  .INFOSP,
  .INFOWOLF {
    border-width: 3px 0;
    border-style: double none;
    border-color: #720;
  }
  .caution {
    border-width: 3px 0;
    border-style: double none;
    border-color: #ccc;
  }

  .msg{
    border-radius: 0.5rem;
  }

  &.left-layout,
  &.center-layout {
    .outframe {
      background-position: right top;
      border-right: 1px solid #403;
      border-left : 1px solid #403;
    }
  }

  &.right-layout {
    .outframe {
      background-position: right top;
      border-left: 1px solid #403;
    }
  }

  .action {
    border-style: none none solid solid ;
    border-color: #663;
  }

  .memo {
    border-color: #113;
    th {
      background-color: #000;
    }
    td {
      border-color: #113;
    }
  }

  body {
    background: #220005;
  }

  h1 a img {
    box-shadow: #806 0 2px 2px;
  }

  h2 {
    background: #410;
    &:before, &:after {
      border-color: transparent #d40;
    }
  }
  h3 {
    @include jigzag(10px, #224);
  }
}
