.night-theme {
  .drag {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .outframe {
    background-color: #201828;
    background-image: url("../images/bg/moon-blue.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
  }

  .contentframe {
    background-repeat: repeat-y;
    background-position: left;
    background-attachment: local;
    background-image: url("../images/bg/film-L.png");
  }

  body {
    background: #000;
  }

  h1 a img {
    box-shadow: #777 0 2px 2px;
  }
  @include header-tone(#d40, #777, #224);
  @include border-tone(black, #dff, 3px double, #777, #282828);

  #calc {
    th, td {
      border-width: 2px 4px;
      border-color: #333;
      border-style: solid;
    }
  }

  nav,
  header {
    @include color-tone(glass, #777, #444);
  }

  #sayfilter {
    aside {
      @include stripe-tone(black, #dff, #555, #444);
    }
    .head,
    .foot {
      background-color: #444;
    }
    padding-left: 6px;
    aside {
      margin-left: 6px;
    }
  }

  .MSAY,
  .SSAY,
  .SAY { @include color-tone(glass, #ddf, rgba(0,0,0, 0.4));}

  .guide,
  .info {
    border-top:    3px double #555;
    border-bottom: 3px double #555;
  }

  .msg{
    border-radius: 0.5rem;
  }

  .action {
    border-style: none none solid solid ;
    border-color: #663;
  }

  .memo {
    border-color: #113;
    th {
      background-color: #000;
    }
    td {
      border-color: #113;
    }
  }
}
