/*
.wa-theme {
  .drag,
  .outframe {
    background-image: url("../images/bg/karakusa.png");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;

    box-shadow: rgba(208, 208, 255, 0.5) 0 0 9px inset;
  }

  .contentframe {
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: local;
  }

  &.wide-width {
    .contentframe {
      background-image: url("../images/bg/film-wa770.png");
    }
  }

  &.std-width {
    .contentframe {
      background-image: url("../images/bg/film-wa580.png");
    }
  }

  &.mini-width {
    .contentframe {
      background-image: url("../images/bg/film-wa460.png");
    }
  }

  header {
    table {
      @include border-tone(glass, #765);
      @include color-tone(glass, #765, #444);
    }
  }
  nav {
    @include color-tone(glass, #765, #444);
  }
  aside {
    section#buttons {

    }
    section#sayfilter {
      .main {
        @include color-tone(white, #444, #eed);
        margin: 0 6px;
        border-width: 0;
        border-left:  2px solid #aa7;
        border-right: 3px solid #863;
      }
      .head {
        font-weight: bold;
        background: #a96;
        border-top:    2px solid #985;
        border-bottom: 2px solid #863;
        color: #444;
      }
      .foot {
        height: 10px
      }
    }
  }

  @include border-tone(white, #765); // #444,
  @include vivid(#002, #720, #ccf);
//  @include main-theme(#000, #cb8, #720);
  .MSAY,
  .SSAY,
  .SAY,
  .QUEUE { @include color-tone(white, #000, #cb8);}

  .MAKER.guide,
  .ADMIN.guide {
    border-width: 3px 0;
    border-style: double none;
    border-color: #720;
  }

  .INFONOM,
  .INFOSP,
  .INFOWOLF {
    border-width: 3px 0;
    border-style: double none;
    border-color: #444;
  }

  .caution {
    border-width: 3px 0;
    border-style: double none;
    border-color: #ccc;
  }

  .msg{
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
  }

  .action {
    border-style: solid none solid solid ;
    border-color: #222;
  }

  .memo {
    border-color: #664;
    color: #000;
    th {
      border-color: #000;
    }
    td {
      border-color: #000;
    }
  }

  body {
    color: #ccf;
    background-image: url("../images/bg/nagatanienn.png");
    background-repeat: repeat;
    background-position: center;
  }

  a {
    text-decoration: none;
  }

  h1 a img {
    box-shadow: rgba(208, 208, 255, 0.3) 0 2px 2px;
  }

  h2 {
    background: #720;
    &:before, &:after {
      border-color: transparent #d40;
    }
  }

  h3 {
    @include jigzag(10px, #224);
  }
}
*/
