.wa-theme {
  .drag,
  .outframe {
    background-image: url("../images/bg/karakusa.png");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;

    box-shadow: rgba(208, 208, 255, 0.5) 0 0 9px inset;
  }

  .contentframe {
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: local;
  }

  &.wide-width {
    .contentframe {
      background-image: url("../images/bg/film-wa770.png");
    }
  }

  &.std-width {
    .contentframe {
      background-image: url("../images/bg/film-wa580.png");
    }
  }

  &.mini-width {
    .contentframe {
      background-image: url("../images/bg/film-wa460.png");
    }
  }

  #stories {
    @include win-tone(white, #dff, #200);
    table.table {
      border: 1px solid #776655;
      border-left: 1px dashed #776655;
      border-right: 1px dashed #776655;
      table {

      }
    }
  }
  #topviewer,
  .paragraph {
    @include border-tone(glass, #dff, rgba(0,0,0,0.3));
  }
  #headline,
  #css_changer {
    @include border-tone(black, #dff, #200);
  }
  #calc {
    th, td {
      border-width: 2px 4px;
      border-color: #333;
      border-style: solid;
    }
  }

  nav,
  header {
    @include color-tone(glass, #765, #444);
  }

  #sayfilter {
    aside {
      @include stripe-tone(white, #444, #aa7, #eed);
    }
    .head,
    .foot {
      font-weight: bold;
      background: #a96;
      border-top:    2px solid #985;
      border-bottom: 2px solid #863;
      color: #444;
    }
    .foot {
      height: 10px
    }
    padding-left: 6px;
    aside {
      margin: 0 6px;
      border-width: 0;
      border-left:  2px solid #aa7;
      border-right: 3px solid #863;
    }
  }

  .MSAY,
  .SSAY,
  .SAY,
  .QUEUE { @include color-tone(white, #000, #cb8);}

  .MAKER.guide,
  .ADMIN.guide,
  .INFONOM,
  .INFOSP,
  .INFOWOLF {
    border-width: 3px 0;
    border-style: double none;
    border-color: #720;
  }
  .caution {
    border-width: 3px 0;
    border-style: double none;
    border-color: #ccc;
  }

  .msg{
    border-top:    2px solid #444;
    border-bottom: 2px solid #444;
  }

  &.left-layout,
  &.center-layout {
    .outframe {
      border-right: 3px double #863;
      border-left : 3px double #863;
    }
  }

  &.right-layout {
    .outframe {
      border-left : 3px double #863;
    }
  }

  .action {
    border-style: solid none solid solid ;
    border-color: #222;
  }

  .memo {
    border-color: #664;
    color: #000;
    th {
      border-color: #000;
    }
    td {
      border-color: #000;
    }
  }

  body {
    color: #ccf;
    background-image: url("../images/bg/nagatanienn.png");
    background-repeat: repeat;
    background-position: center;
  }

  h1 a img {
    box-shadow: rgba(208, 208, 255, 0.3) 0 2px 2px;
  }

  h2 {
    background: #720;
    &:before, &:after {
      border-color: transparent #d40;
    }
  }
  h3 {
    @include jigzag(10px, #224);
  }
}
