@charset "Shift_JIS";
@import url('size/480baloon.css');
@import url('theme/cinema.css');

/*
	.contentframe,
	.contentframe_navileft {
 */
.drag,
.outframe,
.outframe_navimode {
  background-image: url('../images/bg/background460.png');
  background-repeat: repeat-y;
  background-position: right;
}

tr.say .msg {
  margin: 0 3px 4px 3px;
  padding: 0px 4px;
}

.action,
.action_nom {
  padding: 4px 8px 4px 4px;
}
