@charset "Shift_JIS";
@import url('size/800baloon.css');
@import url('theme/night.css');

/* �O�g ----------*/
.outframe {
  border-right: 3px double #224;
  border-left: 3px double #224;
}

/* �t�B���^�����ɔz�u�������̊O�g ----------*/
.drag,
.outframe_navimode {
  border-right: 3px double #224;
  border-left: 3px double #000;
}

/* �t�B���^�i���z�u���j----------*/
.sayfilterleft {
}

.contentframe {
  background: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

/* �t�B���^�����ɔz�u�������̓��g ----------*/
.contentframe_navileft {
  background: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

.action,
.action_nom {
  margin-left: 107px;
  padding: 4px 8px 4px 8px;
}

tr.say .msg {
  margin: 0 4px 6px 7px;
  padding: 0 0 0 8px;
}
