@charset "Shift_JIS";
@import url('theme/cinema.css');
@import url('size/800.css');

/* �t�B���^�����ɔz�u�������̊O�g ----------*/
.outframe_navimode {
  width: 764px;
}

/* GROBAL --------------------*/
h1 {
  padding: 0px;
}

/* �t�B���^�̒��g ----------*/
.insayfilter .paragraph {
  margin: 6px 0 0 0;
}

/* �t�B���^�i���z�u���j----------*/
.sayfilter {
  border-width: 0;
}

/* �t�B���^�̌��o�� ----------*/
.sayfilter_heading {
  margin: 0px 8px;
  padding: 2px;
  background: #bb9;
}

.sayfilter_caption_enable,
.sayfilter_caption_disenable {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #000;
  background: #bb9;
}

/* �t�B���^�I�𗓘g----------*/
.sayfilter_content,
#lumpfilter,
#lumpfilter input {
  border-width: 1px 0 0 0;
  border-style: dotted;
  border-color: #000;
  background: #cb9;
}

/* �t�B���^�I�𗓁i�L�����j----------*/
.sayfilter_content_enable,
.sayfilter_content_disenable {
  border-width: 0;
}

.turnnavi,
.pagenavi,
.infonologin,
.row_all {
  background-color: #002;
}

/* IMAGE AND TEXT LAYOUT --------------------*/

/* �����̃L�����摜 ----------*/
.say img {
  margin: 0 0 0 15px;
}

/* �������͗��̃L�����摜 ----------*/
/* �����̕��͕����i�����j----------*/
.mes_text_monospace {
  layout-grid: both loose 0 0;
  font-family: monospace;
  padding: 0;
  vertical-align: top;
  overflow: auto;
}

#clipboard,
#cliptext,
.action_type {
}

#contentframe div,
#contentframe form,
#contentframe p,
#contentframe table,
.msg {
  border-style: none;
}

.action_nom,
.action {
  border-style: none;
  margin: 5px 0 5px 0;
}
