@charset "Shift_JIS";
@import url('theme/star.css');
@import url('size/800baloon.css');

/* �O�g ----------*/
.outframe {
  border-right: 3px double #1b7;
  border-left: 3px double #1b7;
}

/* �t�B���^�����ɔz�u�������̊O�g ----------*/
.outframe_navimode {
  border-right: 3px double #1b7;
  border-left: 3px double #114;
}

/* �t�B���^�i���z�u���j----------*/
.sayfilterleft {
}

.contentframe {
  background-image: url('../images/bg/star580.png');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
}

/* �t�B���^�����ɔz�u�������̓��g ----------*/
.drag,
.contentframe_navileft {
  background-image: url('../images/bg/star770.png');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
}

/* �O�g ----------*/
.outframe,
.outframe_navimode {
  background-image: url('../images/bg/jupiter.png');
  background-position: center top;
}

.mes_undef .action,
.mes_queue .action,
.mes_del .action,
.mes_nom .action,
.mes_think .action,
.mes_wolf .action,
.mes_grave .action,
.mes_sympa .action,
.mes_pixi .action,
.mes_mob .action,
.mes_anonymous .action,
.action_nom {
  margin-left: 132px;
  border-width: 0 0 1px 4px;
  border-style: solid solid;
}
