doctype html
html(lang="ja" manifest="http://giji-assets.s3-website-ap-northeast-1.amazonaws.com/giji.appcache")
  head
    include ./includes/_head.jade
    link(media="screen" rel="stylesheet" type="text/css" href="http://giji-assets.s3-website-ap-northeast-1.amazonaws.com/assets-master/application.css")

  body
    #outframe.outframe
      #contentframe.contentframe
        h1#to_root
        .inframe
          .login#headline
          #css_changer

        .inframe
          #item-rolelist

        .inframe
          include ./includes/_copyright.jade

      #footer

      #tab
        #topviewer
        #sayfilter
        #buttons
  script(type="text/javascript" src="http://giji-assets.s3-website-ap-northeast-1.amazonaws.com/assets-master/base.js")
  script(type="text/javascript" src="http://giji-assets.s3-website-ap-northeast-1.amazonaws.com/assets-master/const.js")
  script(type="text/javascript" src="http://giji-assets.s3-website-ap-northeast-1.amazonaws.com/assets-master/sow.js")
