doctype html
html(lang="ja" manifest="http://s3-ap-northeast-1.amazonaws.com/giji-assets/giji.appcache")
  head
    include ./includes/_head.jade
    link(media="screen" rel="stylesheet" type="text/css" href="http://s3-ap-northeast-1.amazonaws.com/giji-assets/assets-master/application.css")

  body
    #outframe.outframe
      #contentframe.contentframe
        h1#to_root
        .inframe
          .login#headline
          #css_changer

        .inframe
          #item-ruleguide

          hr.invisible_hr
          h2 ルール

          h3 国のルール
          #rule-nation

          h3 村のルール
          #rule-village

          #item-violation

          hr.invisible_hr
          h2 心構え

          h3 遊びにきたかたへ
          .GSAY.action
            p.text
              | 心構えを守って、楽しく、強く遊ぼう。
          #rule-player

          h3 村を建てるかたへ
          #item-maker
          #rule-maker

        .inframe
          include ./includes/_copyright.jade

      #footer

      #tab
        #topviewer
        #sayfilter
        #buttons
  script(type="text/javascript" src="http://s3-ap-northeast-1.amazonaws.com/giji-assets/assets-master/base.js")
  script(type="text/javascript" src="http://s3-ap-northeast-1.amazonaws.com/giji-assets/assets-master/const.js")
  script(type="text/javascript" src="http://s3-ap-northeast-1.amazonaws.com/giji-assets/assets-master/rails.js")
