@charset "Shift_JIS";
@import url('480.css');

/* GROBAL --------------------*/

h2 {
  margin: 2px 0 0 0;
}

h3 {
  margin: 2px 0 0 0;
}
/* BODY FRAME --------------------*/
.vindex {
  margin: 3px 0;
  width: 100%;
}
/* �t�B���^�̒��g ----------*/

.sayfilter_heading {
  padding: 0px;
}

/* �i���S�� ----------*/
.paragraph {
  padding: 0px;
}

/* �������͗��̊O�g ----------*/
.formpl_frame {
  margin: 0px;
}

/* �A�N�V�������͗� ----------*/
.formpl_action {
  padding: 0;
}

/* ���� ----------*/
.memo {
  margin: 0px;
  padding: 4px 0;
}
/* �����֌W���� ------*/
.say .img {
  padding: 0 0 4px 0;
}

.say .field {
  width: 350px;
}
.say .msg {
  margin: 0 3px 4px 3px;
  padding: 0px 4px;
}
