@charset "Shift_JIS";
@import url('800.css');

/* GROBAL --------------------*/
h2,
h3 {
  margin: 8px 8px 16px 8px;
  padding: 2px 8px 2px 8px;
}

/* BODY FRAME --------------------*/
.vindex {
  margin: 6px 8px;
  width: 96%;
}
/* �����Đl���� ----------*/
/* �Ǘ��l���� ----------*/
.MAKER,
.ACTION,
.INFONOM,
.INFOSP,
.INFOWOLF,
.TSAY .action,
.mes_maker,
.mes_admin,
.info,
.infosp,
.infowolf,
.caution,
.mes_think .action,
.action_bm {
  margin: 0px 8px 16px 8px;
  padding: 4px;
}

/* �A�N�V���� ------------*/
.action_nom,
.action {
  padding: 4px 8px 4px 8px;
}
/* ���� ----------*/
.memo {
  margin: 0px 12px 16px 12px;
  padding: 1px;
}
/* �����֌W���� ------*/
.message_filter {
}
.message_filter table {
  width: 562px;
}
.say .chrblank {
  width: 90px;
}
.say .img img {
  margin: 10px;
  padding: 0;
}
.say .img {
  vertical-align: top;
  margin: 0 0 6px 0;
  padding: 0;
}
.say .msg {
  margin: 4px 4px 0 0;
  padding: 0;
}
/* �������͗��i���ʁj ---*/
.formpl_common {
  width: 100%;
  margin: 0px 8px 16px 8px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
}

/* �i���S�� ----------*/
.paragraph {
  margin: 0px;
  padding: 0 6px 0 8px;
}
