doctype html
html(lang="ja")
  head
    include ./includes/_head.jade
    link(media="screen" rel="stylesheet" type="text/css" href="application.css")

  body
    #outframe.outframe
      #contentframe.contentframe
        h1#to_root
        .inframe
          .login#headline
          #css_changer

        .inframe
          #character_tag

        .inframe
          include ./includes/_copyright.jade

      #footer

      #tab
        #topviewer
        #sayfilter
        #buttons
  script(type="text/javascript" src="base.js")
  script(type="text/javascript" src="const.js")
  script(type="text/javascript" src="rails.js")
