package SWAdminInfo;

#----------------------------------------
# 管理人からのお知らせ
#----------------------------------------
sub OutHTMLAdminInfo {
}

sub OutHTMLStateInfo {
  my $sow = shift;
  my $cfg   = $sow->{'cfg'};

  print <<"_HTML_";
<div class="message_filter" logs="top_info"></div>
_HTML_
}

1;
