@import "bourbon";

@import "lib/_lib";
@import "lib/board";
@import "lib/box";
@import "lib/filter";
@import "lib/font";
@import "lib/giji";
@import "lib/icon";
@import "lib/layout";
@import "lib/message";
@import "lib/mithril";
@import "lib/player";
@import "lib/table";
@import "lib/theme";
@import "lib/width";
@import "lib/win";

@import "theme/cinema";
@import "theme/wa";

@import "theme/star";
@import "theme/night";

.line_text {
  white-space: nowrap;
  overflow: hidden;
}

#buttons .badge {
  color: #ddd;
  background-color: #999;
}

code {
  padding: 2px 4px;
  font-size: 0.9rem;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 9px;
}

.potofs td {
  padding: 1px 3px;
}

.inverse {
  background-color: #222;
  color: #fff;
}

.action .text {
  overflow: hidden;
  overflow-x: auto;
  word-wrap: break-word;
}

.pagenavi ul {
  border-radius: 9px;
  padding: 0.10em 0.25em;
  font-weight: bold;
  width: 100%;

  color: #000;
  background-color: rgba(255,255,255,0.75);
}

.footnote,
.toppage .paragraph,
.accordion dt,
.accordion dd {
  background-color: rgba(0,0,0,0.5);
}

body {
  color: #fff;
  padding: 0;
}

h2,
h2 a {
  color: #fff;
}
h2 {
  border-bottom: 1px solid #fff;
}

a {
  text-decoration: none;
}

code a,
.btn a {
  background-color: rgba(255,255,255,0.5);
}

ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none
}


