
.accordion {
  border-top: 1px solid #CCC;
  dt {
    font-weight: bold;
    .allow {
      line-height: 0;
      text-align: right;
      margin: -0.5ex 0 0.5ex 0;
    }
  }
  dt,
  dd {
    padding: 4px 0px;
    text-align: left;
    border-bottom: 1px solid #CCC;
    background-color: rgba(0, 0, 0, 0.5);
  }
  dd.plain {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
