$themes: (
  friends: (
    LONE:   F9,
    LOVE:   F8,
    GRAVE:  F7,
    VGRAVE: F6,
    FOAM:   F5 FSAY,
    ELSE:   F4,
    MUPET:  F3 XSAY,
    BROAD:  F2,
    MOB:    F1 LSAY,
    WOLF:   F0 WSAY,
  ),
  yelp: (
    LONE:   Y9,
    LOVE:   Y8,
    GRAVE:  Y7 GSAY,
    VGRAVE: Y6 VGSAY,
    FOAM:   Y5,
    ELSE:   Y4,
    MUPET:  Y3,
    BROAD:  Y2 SSAY MSAY,
    MOB:    Y1 VSSAY,
    WOLF:   Y0,
  ),
  whisper: (
    LONE:   W9,
    LOVE:   W8,
    GRAVE:  W7,
    VGRAVE: W6 GAIM,
    FOAM:   W5,
    ELSE:   W4 ELSE,
    MUPET:  W3,
    BROAD:  W2 AIM,
    MOB:    W1 PSAY,
    WOLF:   W0,
  ),
  twitter: (
    LONE:   T9,
    LOVE:   T8,
    GRAVE:  T7,
    VGRAVE: T6,
    FOAM:   T5 HSAY,
    ELSE:   T4,
    MUPET:  T3 hide,
    BROAD:  T2,
    MOB:    T1 TSAY private,
    WOLF:   T0,
  ),
  announce: (
    LONE:   A9,
    LOVE:   A8,
    GRAVE:  A7,
    VGRAVE: A6,
    FOAM:   A5,
    ELSE:   A4,
    MUPET:  A3,
    BROAD:  A2 public,
    MOB:    A1,
    WOLF:   A0,
  ),
  world: (
    LONE:   O9,
    LOVE:   O8 ADMIN,
    GRAVE:  O7,
    VGRAVE: O6 TITLE,
    FOAM:   O5,
    ELSE:   O4 MAKER,
    MUPET:  O3,
    BROAD:  O2,
    MOB:    O1,
    WOLF:   O0,
  ),

  stat: (
    LONE:   LONEWOLF,
    LOVE:   LOVER,
    GRAVE:  executed,
    FOAM:   HATER,
    ELSE:   PIXI GURU,
    MUPET:  EVIL,
    BROAD:  HUMAN live juror,
    MOB:    NONE DISH MOB mob visiter grave alive,
    WOLF:   WOLF suicide victim cursed feared droop,
  ),
  leave: (
    VGRAVE: DEL_M,
    BROAD:  DEL_S,
    MUPET:  suddendead leave,
  ),
  grass: (
    BROAD:  title-bar,
  ),
  metal: (
    ELSE:   welcome-links,
    MUPET:  progress,
    MOB:    prologue,
  ),
  ash: (
    ELSE:   BRONZE footer header,
    BROAD:  btns chrblank,
    FOAM:   welcome-btns,
  ),
);

$hues: (
  LONE:   326deg, // 赤紫
  LOVE:   285deg, // 紫
  GRAVE:  231deg, // 青紫
  VGRAVE: 192deg, // 青
  FOAM:   174deg, // 青緑
  ELSE:   140deg, // 緑
  MUPET:   87deg, // 黄緑
  BROAD:   49deg, // 黄
  MOB:     27deg, // 橙
  WOLF:   359deg, // 赤
);

$hues_d: (
  LONE:   30deg, // 赤紫
  LOVE:   50deg, // 紫
  GRAVE:  56deg, // 青紫
  VGRAVE: 20deg, // 青
  FOAM:   15deg, // 青緑
  ELSE:   51deg, // 緑
  MUPET:  52deg, // 黄緑
  BROAD:  22deg, // 黄
  MOB:    19deg, // 橙
  WOLF:   36deg, // 赤
);

$Pr: 0.298912;
$Pg: 0.586611;
$Pb: 0.114478;

// https://qiita.com/lookman/items/d518f16c897c94bc4e78
@function Y2L($HH,$SS,$YY) {
  $hueblock: floor( $HH / 60deg );
  $Yp: 0;
  $a: ( $HH % 60 ) / 60deg;
  @if 0 == $hueblock {
    $Yp: $Pr + $Pg * $a;
  }
  @if 1 == $hueblock {
    $a: 1 - $a;
    $Yp: $Pg + $Pr * $a;
  }
  @if 2 == $hueblock {
    $Yp: $Pg + $Pb * $a;
  }
  @if 3 == $hueblock {
    $a: 1 - $a;
    $Yp: $Pb + $Pg * $a;
  }
  @if 4 == $hueblock {
    $Yp: $Pb + $Pr * $a;
  }
  @if 5 == $hueblock {
    $a: 1 - $a;
    $Yp: $Pr + $Pb * $a;
  }

  $Y: 0.01 * $YY;
  $S: 0.01 * $SS;
  $C: 2 * $S * (0.5 - $Yp);
  $L: 0;
  @if $Y > (1 - $C) / 2 {
    $L: ($Y + $C) / (1 + $C);
  }
  @else {
    $L:  $Y       / (1 - $C);
  }
  @return  100% * $L;
}

@function HSYA($HH,$SS,$YY,$AA: 1) {
  $HH: $HH % 360;
  $LL: Y2L($HH,$SS,$YY);
  @return hsla($HH,$SS,$LL,$AA);
}

$bgs:    ();
$btns:   ();
$grads:  ();
$pens:   ();
$lines:  ();
$bolds:  ();
$edges:  ();

@each $key, $_ in map-get($themes, friends) {
  $_HH: map-get($hues, $key);
  @if not $_HH {
    @error "#{$key} #{$_HH}"
  }
  $_dd: map-get($hues_d, $key);
  @if not $_dd {
    @error "#{$key} #{$_dd}"
  }
  $_HB: $_HH + 0.25 * $_dd ;
  $_HP: $_HH + 0.50 * $_dd ;
  $_HR: $_HH + 0.75 * $_dd ;
  $_HN: $_HH - 0.50 * $_dd ;

  $btns:  map-merge( $btns ,("G#{$key}": HSYA($_HP,75%,33%,0.5) HSYA($_HP,75%,33%,0.5) ));
  $grads: map-merge( $grads,("G#{$key}": HSYA($_HN,75%,33%,0.5) HSYA($_HN,75%,33%,0.5) ));
  $bgs:   map-merge( $bgs  ,("G#{$key}": HSYA($_HH,75%,30%,0.5) HSYA($_HH,75%,30%,0.5) ));
  $edges: map-merge( $edges,("G#{$key}": HSYA($_HH,66%,40%,0.5) HSYA($_HH,66%,40%,0.5) ));
  $pens:  map-merge( $pens ,("G#{$key}": HSYA($_HP,58%,85%)     HSYA($_HP,58%,85%)     ));
  $lines: map-merge( $lines,("G#{$key}": HSYA($_HP,58%,85%)     HSYA($_HP,58%,85%)     ));
  $bolds: map-merge( $bolds,("G#{$key}": white                white                ));

  //                  ash leave          stat               metal
  $btns:  map-merge( $btns ,("I#{$key}": HSYA($_HP,12%,33%)  HSYA($_HP,35%,48%)  HSYA($_HP,35%,18%) )); // bg  +3%l
  $grads: map-merge( $grads,("I#{$key}": HSYA($_HN,12%,33%)  HSYA($_HN,35%,48%)  HSYA($_HN,35%,18%) )); // bg  +3%l
  $bgs:   map-merge( $bgs  ,("I#{$key}": HSYA($_HH,12%,30%)  HSYA($_HH,35%,45%)  HSYA($_HH,35%,15%) ));
  $edges: map-merge( $edges,("I#{$key}": HSYA($_HH,25%,50%)  HSYA($_HH,75%,20%)  HSYA($_HH,20%,40%) )); // bg +20%s -25%l
  $lines: map-merge( $lines,("I#{$key}": HSYA($_HP,65%,40%)  HSYA($_HP,22%,10%)  HSYA($_HP,44%,90%) )); // pen and edge light
  $pens:  map-merge( $pens ,("I#{$key}": HSYA($_HP,25%,80%)  HSYA($_HP,75%,10%)  HSYA($_HP,44%,90%) )); // blacky or whity
  $bolds: map-merge( $bolds,("I#{$key}": white             black             white            )); // hardcore pen

  //                  O                  A                  F                  T                  Y                  W
  $btns:  map-merge( $btns ,("D#{$key}": HSYA($_HP,40%,20%)  HSYA($_HP,65%,27%)  HSYA($_HP,35%,48%)  HSYA($_HP,20%,63%)  HSYA($_HP,35%,73%)  HSYA($_HP,50%,80%) ));// bg  +3%l
  $grads: map-merge( $grads,("D#{$key}": HSYA($_HN,40%,20%)  HSYA($_HN,65%,27%)  HSYA($_HN,35%,48%)  HSYA($_HN,20%,63%)  HSYA($_HN,35%,73%)  HSYA($_HN,50%,80%) ));// bg  +3%l
  $bgs:   map-merge( $bgs  ,("D#{$key}": HSYA($_HH,11%, 5%)  HSYA($_HH,58%,20%)  HSYA($_HH,35%,45%)  HSYA($_HH,20%,60%)  HSYA($_HH,35%,70%)  HSYA($_HH,35%,80%) ));
  $edges: map-merge( $edges,("D#{$key}": HSYA($_HH,25%,40%)  HSYA($_HH,45%,40%)  HSYA($_HH,75%,20%)  HSYA($_HH,25%,25%)  HSYA($_HH,55%,42%)  HSYA($_HH,55%,40%) ));// bg +20%s -25%l
  $lines: map-merge( $lines,("D#{$key}": HSYA($_HN,65%,40%)  HSYA($_HN,65%,40%)  HSYA($_HN,75%,20%)  HSYA($_HN,65%,25%)  HSYA($_HN,65%,42%)  HSYA($_HN,65%,40%) ));// pen and edge light
  $pens:  map-merge( $pens ,("D#{$key}": HSYA($_HP,25%,80%)  HSYA($_HP,65%,85%)  HSYA($_HP,22%,10%)  HSYA($_HP,65%,15%)  HSYA($_HP,65%,20%)  HSYA($_HP,65%,25%) ));// blacky or whity
  $bolds: map-merge( $bolds,("D#{$key}": white             white             black             black             black             black             ));// hardcore pen

  //                  O                  A                  F                  T                  Y                  W
  $btns:  map-merge( $btns ,("N#{$key}": HSYA($_HH,30%,45%)  HSYA($_HH,40%,36%)  HSYA($_HH,65%,27%)  HSYA($_HH,55%,27%)  HSYA($_HH,65%,27%)  HSYA($_HH,40%,20%) ));// bg   +7%l
  $grads: map-merge( $grads,("N#{$key}": HSYA($_HR,30%,45%)  HSYA($_HR,40%,36%)  HSYA($_HR,65%,27%)  HSYA($_HR,55%,27%)  HSYA($_HR,65%,27%)  HSYA($_HR,40%,20%) ));// bg   +7%l
  $bgs:   map-merge( $bgs  ,("N#{$key}": HSYA($_HB,30%,40%)  HSYA($_HB,40%,30%)  HSYA($_HB,58%,20%)  HSYA($_HB,35%,15%)  HSYA($_HB,58%,10%)  HSYA($_HB,11%, 5%) ));
  $edges: map-merge( $edges,("N#{$key}": HSYA($_HH,55%,72%)  HSYA($_HH,65%,62%)  HSYA($_HH,85%,52%)  HSYA($_HH,60%,47%)  HSYA($_HH,45%,40%)  HSYA($_HH,25%,40%) ));// pen + little lighten
  $lines: map-merge( $lines,("N#{$key}": HSYA($_HN,55%,85%)  HSYA($_HN,65%,80%)  HSYA($_HN,85%,75%)  HSYA($_HN,60%,85%)  HSYA($_HN,75%,70%)  HSYA($_HN,85%,60%) ));// pen and edge light
  $pens:  map-merge( $pens ,("N#{$key}": HSYA($_HH,25%,85%)  HSYA($_HH,50%,80%)  HSYA($_HH,65%,75%)  HSYA($_HH,25%,85%)  HSYA($_HH,75%,70%)  HSYA($_HH,85%,60%) ));// blacky or whity
  $bolds: map-merge( $bolds,("N#{$key}": white             white             white             white             white             white             ));// hardcore pen
}
