
a {
  padding: 0 0.1em;
  display: inline-block;
  line-height: 1.7em;
  border-radius: 0.3em;
}

#export {
  border-collapse: separate;
  border-spacing: 3px;
  padding: 40px 0;
  display: grid;
  justify-content: center;
  grid-template-areas: ". . .";
  grid-gap: 0 4px;
}

.welcome-btns {
  text-align: center;
  background-color: rgba(64, 82, 80, 0.8);
}

.welcome-links {
  white-space: pre;
  padding: 0.5ex;
  background-color: rgba(23, 47, 31, 0.4);
}

.inframe {
  padding: 25px 0 15px;
}

.col4 {
  grid-column: 1/4;
}

.cap {
  border-radius: 9px 9px 0 0;
}

.shoe {
  border-radius: 0 0 9px 9px;
  padding: 0.5ex;
}

#welcome {
  object-fit: cover;
  background-size: cover;
  .btns {
    background-color: rgba(77,78,79,0.9);
  }
}

.filmline {
  margin: 0;
  height: 11px;
  background-repeat: repeat-x;
  background-image: url(http://s3-ap-northeast-1.amazonaws.com/giji-assets/images/bg/film-border.png);
}

.filmend {
  margin: -11px 0 0;  
}

h1 {
  text-shadow: 0 0 0.5px rgba(28,23,4,0.5), 2px 2px 1.5px rgba(28,23,4,0.5), 0 2px 1.5px rgba(28,23,4,0.5), -2px 2px 1.5px rgba(28,23,4,0.5), 2px 0 1.5px rgba(28,23,4,0.5), -2px 0 1.5px rgba(28,23,4,0.5), 2px -2px 1.5px rgba(28,23,4,0.5), 0 -2px 1.5px rgba(28,23,4,0.5), -2px -2px 1.5px rgba(28,23,4,0.5);
  height: 140px;
  text-align: center;
  transform-origin: center bottom;
  line-height: 140px;

  background-color: rgba(94,80,14,0.5);
  border-color: rgba(124,106,25,0.5);
  color: #e2e292;
  text-emphasis-color: #e2e292;
  text-decoration-color: #e2e292;

  box-sizing: border-box;
  display: block;
  column-span: all;
  transform: scale(1, 0.8);
  transform-origin: center center;
  margin: 0;

  white-space: pre;
  font-size: 55px;
  color: #e2e292;
}

.btns {
  span {
    margin: 0 6px;
  }
  a {
    color: #d0d0b0;
    border-color: #444423;
    background-color: #444423;
  }
}

