doctype html
html(lang="ja")
  head
    link href="mailto:7korobi@gmail.com" rev="Made"
    meta name="apple-mobile-web-app-capable" content="yes"
    meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"
    meta name="format-detection" content="telephone=no"
    meta name="viewport" content="initial-scale=1.0"
    meta http-equiv='Content-Type' content='text/html; charset=utf-8'
    meta content="7korobi@gmail.com" name="Author"
    meta charset="utf-8"

    link(media="screen" rel="stylesheet" type="text/css" href="/assets-master/application.css")

  body
    - [280, 340, 400, 458, 520, 580, 640, 705, 770, 830, 890].each_with_index do |size, index|
      - [:outer, :inner, :photo].each do |type_id|
        - img_width = { outer: [458, 458, 458, 580, 580, 770, 770, 770, 0, 0, 0],  inner: [0, 0, 0, 0, 458, 458, 580, 580, 580, 770, 770],  photo: [0, 0, 0, 0, 458, 458, 580, 580, 580, 770, 770] }[type_id][index]
        - next if 0 == img_width
        - RAILS.head_img[img_width].cinema.each do |postfix|
            - border = 0
            - border = 40 if :inner == type_id
            hr
            .outframe(style="width: #{size}px")
              h1(class="#{type_id}" style="width: #{img_width + border + 6}px; margin-left: #{(size - img_width - border)/2}px")
                a(href="http://giji.check.jp/")
                  img(src="http://giji-assets.herokuapp.com/images/banner/title#{img_width}#{postfix}")
            .outframe(style="width: #{size}px")
              .contentframe(style="width: #{size}px")
                h2 テスト
                h3 テスト
                h6 テスト
                br
    #outframe.outframe
      #contentframe.contentframe
        .inframe
          .login#headline
          #css_changer

        .inframe
          br
          address
            | 人狼議事キャラセット by りりんら
            br
            | 管理
            code  sol・la
            code
              a(href="mailto:7korobi@gmail.com" taborder="-1") ななころび

            br
            br
            code(style="display:inline-block;")
              | 下記の場所以外では、人狼議事内キャラチップ
              br
              | の利用を許諾しておりません。ご了承ください。
            br
            code(style="display:inline-block;text-align:left;")
              | 議事総合トップ
              br
              | 人狼議事lobby
              br
              | 人狼議事morphe
              br
              | 人狼議事cafe
              br
              | 人狼議事perjury
              br
              | 人狼議事xebec
              br
              | 人狼議事crazy
              br
              | 人狼議事ciel
              br
              |
              br
              | SoyBean
              br
              | Sangria
              br
              | @7korobi
            br
            br
          br
          br

      #footer

      #tab
        #topviewer
        #sayfilter
        #buttons
  script(type="text/javascript" src="/assets-master/base.js")
  script(type="text/javascript" src="/assets-master/const.js")
  script(type="text/javascript" src="/assets-master/rails.js")


