@import url('./color.white.css');
@import url('../application.css');

/* GROBAL --------------------*/
.handler,
body {
  margin: 0px;
  padding: 0px;
  background: #764;
}

p {
  margin: 0px;
  padding: 0px;
}
div,
form,
td {
  margin: 0px;
  padding: 0px;
}

textarea {
  font-family: monospace;
}

textarea,
input,
select {
  color: #000;
}

a {
  text-decoration: none;
}

h1 {
  text-align: left;
}

h2 {
  text-align: center;
  background: #662;
}

h3.popover-title,
h3 {
  font-size: 100%;
  background: #224;
}

strong {
}

.board {
  background-color: #100;
  border: 1px solid #764;
}
.choice .board {
  background-color: #100;
  border-top: 3px double #764;
}
.choice .board th {
  border-bottom: 1px dashed #764;
}
.choice .board td {
  border-top: 1px dashed #764;
  border-left: 1px solid #764;
}
.choice {
  background-color: #444;
  border-bottom: 1px solid #444 !important;
}
.no_choice {
  border-bottom: 1px dashed #764;
}

/* OTHERS --------------------*/
/* ???J?n?E?X?V?{?^?? ----------*/
.commitbutton {
  text-align: center;
}

/* ?????P?? ----------*/
.saycancelframe {
  text-align: center;
}

/* ?????P??{?^?? ----------*/
.saycancelbutton {
  font-size: smaller;
}

/* ?u???v?????N ----------*/
.return {
  margin: 0px;
  padding: 0px 0px 8px 0px;
  text-align: right;
}

/* ?q???g?E?????? ----------*/
.tips {
  padding: 0px 8px;
}

.vindex {
  background-color: #100;
  border: 1px solid #764;
  border-collapse: collapse; /* CSS2? */
}

.vindex td,
.vindex th {
  margin: 0px;
  padding: 1px;
  border: 1px solid #764;
  border-left: 1px dashed #764;
  border-right: 1px dashed #764;
}

/* ??????? ----------*/
.form_vmake {
  margin: 0px;
  padding: 4px 0px;

  color: #000000;
  background: #cb8;
  border-top: 3px double #664;
  border-bottom: 3px double #664;
}

/* ?????E??W?{?^?? ----------*/
.exevmake {
  text-align: center;
}

/* ?i?g?i???x???j ----------*/
.multicolumn_label {
  display: block;
  float: left;
  text-align: right;
}

/* ?i?g?i???z?u?j ----------*/
.multicolumn_left {
  display: block;
  float: left;
}

/* ?i?g?i?E?z?u?j ----------*/
.multicolumn_right {
  display: block;
  float: left;
}

/* ?i?g?i??????????j ----------*/
.multicolumn_role {
  width: 100%;
  color: #000;
  font-size: smaller;
}

/* ?i?g?i???s?j ----------*/
.multicolumn_clear {
  clear: left;
}

/* BODY FRAME --------------------*/

/* ?O?g ----------*/
.outframe {
  background: #444;
}

/* ???h?~?`?F?b?N?? ----------*/
.previewsafety {
  color: #000000;
  background: #a55;
}

/* ?t?B???^??????z?u????????O?g ----------*/
.outframe_navimode {
  background: #444;
}

.contentframe {
  text-align: left;
}

/* ?t?B???^??????z?u??????????g ----------*/
.contentframe_navileft {
  text-align: left;
  float: right;
}

/* ???g????g?i?^?C?g???????????j ----------*/
.inframe,
.inframe .memo {
}

/* ?t?B???^?i???z?u???j----------*/
.sayfilter {
  text-align: center;
  color: #000;
}

/* ?t?B???^?i???z?u???j----------*/
.sayfilterleft {
  text-align: left;
  color: #000;
  float: left;
}

/* ?t?B???^????g ----------*/
.insayfilter {
  text-align: left;
  border-width: 0;
}
.insayfilter .paragraph {
  border-width: 0;
  background: #eed;
  border-left: 2px solid #aa7;
  border-right: 3px solid #863;
}

/* ?t?B???^????o?? ----------*/
.sayfilter_heading {
  font-weight: bold;
  color: #000;
  background: #863;
}

/* ?t?B???^???E?z?u?{?^?? ----------*/
.sayfilter_button {
  float: right;
  display: none;
}

.sayfilter_content .head,
.sayfilter_caption_enable {
  font-weight: normal;
  margin: 0;
  background: #aa7;
  border-bottom: 2px solid #863;
}
.sayfilter_caption_disenable {
  font-weight: normal;
  margin: 0;
  background: #888;
  color: #444;
}

/* ?t?B???^?I??g----------*/
.sayfilter_heading,
.sayfilter_content .head,
.sayfilter_caption_enable,
.insayfilter .paragraph {
  border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.sayfilter_content .head,
.sayfilter_caption_enable {
  border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
}

.sayfilter_heading {
  border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
}

.sayfilter_content_enable,
.sayfilter_content_disenable,
.sayfilter_content,
#lumpfilter,
#lumpfilter input {
  font-weight: normal;
  width: 100%;
}

.sayfilter_content_enable,
.sayfilter_content_disenable,
.sayfilter_button_lump {
  border-bottom: 1px dotted #863;
}

/* ?t?B???^?I??i?L?????j----------*/
.sayfilter_content_enable {
}
.sayfilter_content_disenable {
  background: #888;
  color: #444;
}

.sayfilter_incontent input {
  display: none;
}

/* ?t?B???^??????p?{?^?? ----------*/
.sayfilter_button_mestype,
.sayfilter_button_lump {
  text-align: center;
}

/* ???O?C???? ----------*/
.login {
  margin: 0px;
  text-align: right;
}
/* ???t?????N ----------*/
/* ?y?[?W?????N ----------*/
/* ??O?C????????\?? ----------*/
/* ?S?\???????N ----------*/
.turnnavi,
.pagenavi,
.infonologin,
.row_all {
  color: #ccf;
  background-color: #100;
  font-weight: bold;
}

/* ?\???s???E?\????????X?t?H?[?? ----------*/
.viewform {
  text-align: right;
}

.MAKER,
.ADMIN,
.INFONOM,
.INFOSP,
.INFOWOLF,
.mes_maker .guide,
.mes_admin .guide,
.info,
.infosp,
.infowolf,
.caution {
  border-width: 2px 0;
  border-style: dashed none;
}
.MAKER,
.mes_maker .guide {
  border-color: #863;
}
.ADMIN,
.mes_admin .guide {
  border-color: #863;
}

.INFONOM,
.INFOSP,
.INFOWOLF,
.info,
.infosp,
.infowolf {
  border-color: #863;
}
/* ?x???E????\?? --------*/
.caution {
  border-color: #ccc;
}

/* ?A?N?V???? ------------*/
.action_nom,
.action {
  border-width: 2px 0 2px 18px;
  border-style: dashed none dashed solid;
  border-color: #663;
}
/* ?????? ----------------*/
.TSAY .action .mes_date,
.mes_think .action .mes_date {
  display: none;
}

/* ???? ----------*/
.memo {
  border-color: #664;
  color: #000;
}
/* ????????? ----------*/
.memoleft {
  border-color: #000;
}
/* ??????E?? ----------*/
.memoright {
  border-color: #000;
}
/* ??????? ----------*/
.mesname {
  font-weight: bold;
  border-bottom: 1px dashed #863;
  background: transparent;
}

/* ??????W???? ------*/
.msg {
  border-right: solid 4px #333;
  border-bottom: solid 2px #222;
}

/* ????? ------*/
.MSAY .action,
.MSAY .msg,
.MSAY .memoleft,
.MSAY .memoright,
.SAY .action,
TABLE.SAY .msg,
.SAY .memoleft,
.SAY .memoright,
.QUEUE .msg,
.QUEUE .memoleft,
.QUEUE .memoright,
.mes_nom .action,
.mes_nom .memoleft,
.mes_nom .memoright,
.mes_nom .msg {
  color: #000;
  background: #cb8;
} /*????F*/
.formpl_gm,
.formpl_gm textarea {
  border-color: #660;
  color: #ffa;
  background-color: #100;
}

/* bug-fix */
.btn {
  color: #333 !important;
}
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-inverse {
  color: #fff !important;
}
