@import url('./color.black.css');
@import url('../application.css');

/* GROBAL --------------------*/
.handler,
body {
  margin: 0px;
  padding: 0px;
  background: #333;
}

.drag,
.sayfilterleft {
  background: #000;
}

p {
  margin: 0px;
  padding: 0px;
}
div,
form,
td {
  margin: 0px;
  padding: 0px;
}

textarea {
  font-family: monospace;
}

textarea,
input,
select {
  color: #000;
}

a {
  text-decoration: none;
}

h1 {
  text-align: left;
}

h2 {
  text-align: center;
  background: #224;
}

h3.popover-title,
h3 {
  text-align: left;
  background: #113;
}

strong {
}

.board {
  background-color: #100;
  border: 1px solid #224;
}
.choice .board {
  background-color: #100;
  border-top: 3px double #224;
}
.choice .board th {
  border-bottom: 1px dashed #224;
}
.choice .board td {
  border-top: 1px dashed #224;
  border-left: 1px solid #224;
}
.choice {
  background-color: #224;
  border-bottom: 1px solid #224 !important;
}
.no_choice {
  border-bottom: 1px dashed #224;
}

/* OTHERS --------------------*/
/* ���J�n�E�X�V�{�^�� ----------*/
.commitbutton {
  text-align: center;
}

/* �����P�� ----------*/
.saycancelframe {
  text-align: center;
}

/* �����P��{�^�� ----------*/
.saycancelbutton {
  font-size: smaller;
}

/* �u�߂�v�����N ----------*/
.return {
  margin: 0px;
  padding: 0px 0px 8px 0px;
  text-align: right;
}

/* �q���g�E������ ----------*/
.tips {
  padding: 0px 8px;
}

.vindex {
  background-color: #100;
  border: 1px solid #224;
  border-collapse: collapse; /* CSS2? */
}

.vindex td,
.vindex th {
  margin: 0px;
  padding: 1px;
  border: 1px solid #765;
  border-left: 1px dashed #224;
  border-right: 1px dashed #224;
}

/* ���쐬��� ----------*/
.form_vmake {
  margin: 0px;
  padding: 4px 0px;

  background: #444;
  border-top: 3px double #224;
  border-bottom: 3px double #224;
}

/* ���쐬�E�ҏW�{�^�� ----------*/
.exevmake {
  text-align: center;
}

/* �i�g�i���x���j ----------*/
.multicolumn_label {
  display: block;
  float: left;
  text-align: right;
}

/* �i�g�i���z�u�j ----------*/
.multicolumn_left {
  display: block;
  float: left;
}

/* �i�g�i�E�z�u�j ----------*/
.multicolumn_right {
  display: block;
  float: left;
}

/* �i�g�i�������͗��j ----------*/
.multicolumn_role {
  width: 100%;
  color: #000;
  font-size: smaller;
}

/* �i�g�i���s�j ----------*/
.multicolumn_clear {
  clear: left;
}

/* BODY FRAME --------------------*/

/* �O�g ----------*/
.outframe {
  background: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

/* �딚�h�~�`�F�b�N�� ----------*/
.previewsafety {
  color: #000;
  background: #a55;
}

/* �t�B���^�����ɔz�u�������̊O�g ----------*/
.outframe_navimode {
  background: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.contentframe {
  text-align: left;
}

/* �t�B���^�����ɔz�u�������̓��g ----------*/
.contentframe_navileft {
  text-align: left;
  float: right;
}

/* ���g�̒��g�i�^�C�g���摜�͊܂܂Ȃ��j ----------*/
.inframe,
.inframe .memo {
}

/* �t�B���^�i���z�u���j----------*/
.sayfilter {
  text-align: center;
  color: #eed;
}

/* �t�B���^�i���z�u���j----------*/
.sayfilterleft {
  text-align: left;
  color: #eed;
  float: left;
}

/* �t�B���^�̒��g ----------*/
.insayfilter {
  text-align: left;
  border-width: 0;
}
.insayfilter .paragraph {
  border-width: 0;
  background: #000;
}
/* �t�B���^�̌��o�� ----------*/
.sayfilter_heading {
  border: none;
  font-weight: bold;
  color: #eed;
  background-color: #444;
}

/* �t�B���^�Œ�E�z�u�{�^�� ----------*/
.sayfilter_button {
  float: right;
  display: none;
}

.sayfilter_content .head,
.sayfilter_caption_enable {
  font-weight: normal;
  margin: 3px 0 0 0;
  padding: 1px;
  background: #444;
}
.sayfilter_caption_disenable {
  font-weight: normal;
  margin: 3px 0 0 0;
  background: #888;
}

/* �t�B���^�I�𗓘g----------*/
.sayfilter_content_enable,
.sayfilter_content_disenable,
.sayfilter_content,
#lumpfilter,
#lumpfilter input {
  margin: 1px 0 0 0;
  font-weight: normal;
  background: #000;
}

/* �t�B���^�I�𗓁i�L�����j----------*/
.sayfilter_content_enable {
  margin: 1px 0 0 0;
  width: 100%;
}
.sayfilter_content_disenable {
  margin: 1px 0 0 0;
  background: #444;
  width: 100%;
}

.sayfilter_incontent input {
  display: none;
}

/* �t�B���^�ꊇ����p�{�^�� ----------*/
.sayfilter_button_mestype,
.sayfilter_button_lump {
  margin: 1px 0 0 0;
  background: #000;
  text-align: center;
}

/* ���O�C���� ----------*/
.login {
  margin: 0px;
  text-align: right;
}
/* ���t�����N ----------*/
/* �y�[�W�����N ----------*/
/* �񃍃O�C�������ӕ\�� ----------*/
/* �S�\�������N ----------*/
.turnnavi,
.pagenavi,
.infonologin,
.row_all {
  color: #ccf;
  background-color: #100;
  font-weight: bold;
}

/* �\���s���E�\�������ύX�t�H�[�� ----------*/
.viewform {
  text-align: right;
}

.MAKER,
.ADMIN,
.INFONOM,
.INFOSP,
.INFOWOLF,
.mes_maker .guide,
.mes_admin .guide,
.info,
.infosp,
.infowolf,
.caution {
  border-width: 2px 0;
  border-style: dashed none;
}
.MAKER,
.mes_maker .guide {
  border-color: #765;
}
.ADMIN,
.mes_admin .guide {
  border-color: #765;
}

.INFONOM,
.INFOSP,
.INFOWOLF,
.info,
.infosp,
.infowolf {
  border-color: #113;
}
/* �x���E���ӕ\�� --------*/
.caution {
  border-color: #300;
}

.action_nom,
.action {
  border-style: dashed none solid solid;
}
/* ������ ----------------*/
.TSAY .action .mes_date,
.mes_think .action .mes_date {
  display: none;
}

/* ���� ----------*/
.memo {
  border-color: #720;
  color: #ddf;
  border-width: 0;
}
/* �����̍��� ----------*/
.memoleft {
  border-color: #113;
  background-color: #000 !important;
}
/* �����̉E�� ----------*/
.memoright {
  border-color: #113;
}

/* �����Җ� ----------*/
.mesname {
  font-weight: bold;
  border-bottom: 1px dashed;
}
/* �����֌W���� ------*/
.msg {
  border-width: 0 0 1px 4px;
  border-style: solid solid;
}

.formpl_gm,
.formpl_gm textarea {
  border-color: #444;
  color: #ffa;
  background-color: #100;
}
