@import url('./color.white.css');
@import url('../application.css');

/* GROBAL --------------------*/
.handler,
body {
  margin: 0px;
  padding: 0px;
  color: #ccf;
  background-image: url('../../images/bg/nagatanienn.png');
  background-repeat: repeat;
  background-position: center;
}

p {
  margin: 0px;
  padding: 0px;
}
div,
form,
td {
  margin: 0px;
  padding: 0px;
}

textarea {
  font-family: monospace;
}

textarea,
input,
select {
  color: #000;
}

a {
  text-decoration: none;
}

h1 {
  text-align: left;
}

h2 {
  text-align: center;
  background: #720;
}

h3.popover-title,
h3 {
  text-align: left;
  background: #224;
}

strong {
}

.board {
  background-color: #002;
  border: 1px solid #765;
}
.choice .board {
  background-color: #002;
  border-top: 3px double #765;
}
.choice .board th {
  border-bottom: 1px dashed #765;
}
.choice .board td {
  border-top: 1px dashed #765;
  border-left: 1px solid #765;
}
.choice {
  background-color: #224;
  border-bottom: 1px solid #224 !important;
}
.no_choice {
  border-bottom: 1px dashed #765;
}

/* OTHERS --------------------*/
/* ���J�n�E�X�V�{�^�� ----------*/
.commitbutton {
  text-align: center;
}

/* �����P�� ----------*/
.saycancelframe {
  text-align: center;
}

/* �����P��{�^�� ----------*/
.saycancelbutton {
  font-size: smaller;
}

/* �u�߂�v�����N ----------*/
.return {
  margin: 0px;
  padding: 0px 0px 8px 0px;
  text-align: right;
}

/* �q���g�E������ ----------*/
.tips {
  padding: 0px 8px;
}

.vindex {
  background-color: #002;
  border: 1px solid #765;
  border-collapse: collapse; /* CSS2? */
}

.vindex td,
.vindex th {
  margin: 0px;
  padding: 1px;
  border: 1px solid #765;
  border-left: 1px dashed #765;
  border-right: 1px dashed #765;
}

/* ���쐬��� ----------*/
.form_vmake {
  margin: 0px;
  padding: 4px 0px;

  color: #000000;
  background: #cb8;
  border-top: 3px double #720;
  border-bottom: 3px double #720;
}

/* ���쐬�E�ҏW�{�^�� ----------*/
.exevmake {
  text-align: center;
}

/* �i�g�i���x���j ----------*/
.multicolumn_label {
  display: block;
  float: left;
  text-align: right;
}

/* �i�g�i���z�u�j ----------*/
.multicolumn_left {
  display: block;
  float: left;
}

/* �i�g�i�E�z�u�j ----------*/
.multicolumn_right {
  display: block;
  float: left;
}

/* �i�g�i�������͗��j ----------*/
.multicolumn_role {
  width: 100%;
  color: #000;
  font-size: smaller;
}

/* �i�g�i���s�j ----------*/
.multicolumn_clear {
  clear: left;
}

/* BODY FRAME --------------------*/

/* �O�g ----------*/
.outframe {
  background-image: url('../../images/bg/nagatanienn.png');
  background-repeat: repeat;
  background-position: center;
}

/* �딚�h�~�`�F�b�N�� ----------*/
.previewsafety {
  color: #000000;
  background: #a55;
}

/* �t�B���^�����ɔz�u�������̊O�g ----------*/
.outframe_navimode {
  background-image: url('../../images/bg/nagatanienn.png');
  background-repeat: repeat;
  background-position: center;
}

.contentframe {
  text-align: left;
}

/* �t�B���^�����ɔz�u�������̓��g ----------*/
.contentframe_navileft {
  background: #000;
  text-align: left;
  float: right;
}

/* ���g�̒��g�i�^�C�g���摜�͊܂܂Ȃ��j ----------*/
.inframe,
.inframe .memo {
}

/* SAY FILTER --------------------*/

/* �t�B���^�i���z�u���j----------*/
.sayfilter {
  text-align: center;
  color: #000;
}

/* �t�B���^�i���z�u���j----------*/
.sayfilterleft {
  text-align: left;
  color: #000;
  float: left;
}

/* �t�B���^�̒��g ----------*/
.insayfilter {
  text-align: left;
}
#insayfilter .paragraph,
#notepad .paragraph,
#navi_page .paragraph {
  border-style: solid;
  border-color: #a96;
}
/* �t�B���^�̌��o�� ----------*/
.sayfilter_heading {
  border: none;
  font-weight: bold;
  color: #000;
  background: #a96;
}

/* �t�B���^�Œ�E�z�u�{�^�� ----------*/
.sayfilter_button {
  float: right;
  display: none;
}

.sayfilter_content .head,
.sayfilter_caption_enable,
.sayfilter_caption_disenable {
  font-weight: normal;
  margin: 0;
  padding: 1px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #000;
  background: #cc7;
}

/* �t�B���^�I�𗓘g----------*/
.sayfilter_content_enable,
.sayfilter_content_disenable,
.sayfilter_content,
#lumpfilter,
#lumpfilter input {
  font-weight: normal;
  background: #ddb;
}

/* �t�B���^�I�𗓁i�L�����j----------*/
.sayfilter_content_enable,
.sayfilter_content_disenable {
  border-width: 0;
  width: 100%;
}

.sayfilter_incontent input {
  display: none;
}

/* �t�B���^�ꊇ����p�{�^�� ----------*/
.sayfilter_button_mestype,
.sayfilter_button_lump {
  text-align: center;
}

/* ���O�C���� ----------*/
.login {
  margin: 0px;
  text-align: right;
}
/* ���t�����N ----------*/
/* �y�[�W�����N ----------*/
/* �񃍃O�C�������ӕ\�� ----------*/
/* �S�\�������N ----------*/
.turnnavi,
.pagenavi,
.infonologin,
.row_all {
  color: #ccf;
  background-color: #002;
  font-weight: bold;
}

/* �\���s���E�\�������ύX�t�H�[�� ----------*/
.viewform {
  text-align: right;
}

/* �����̃L�����摜 ----------*/
.say img {
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #300;
}

.MAKER,
.ADMIN,
.INFONOM,
.INFOSP,
.INFOWOLF,
.mes_maker,
.mes_admin,
.info,
.infosp,
.infowolf,
.caution {
  border-width: 3px 0;
  border-style: double none;
}
.MAKER,
.mes_maker {
  border-color: #720;
}
.ADMIN,
.mes_admin {
  border-color: #720;
}

.INFONOM,
.INFOSP,
.INFOWOLF,
.info,
.infosp,
.infowolf {
  border-color: #444;
}
/* �x���E���ӕ\�� --------*/
.caution {
  border-color: #ccc;
}

/* �A�N�V���� ------------*/
.action_nom,
.action {
  border-width: 2px 0 2px 18px;
  border-style: solid none solid solid;
  border-color: #222;
}
/* ������ ----------------*/
.TSAY .action .mes_date,
.mes_think .action .mes_date {
  display: none;
}

/* ���� ----------*/
.memo {
  border-color: #720;
  color: #000;
}
/* �����̍��� ----------*/
.memoleft {
  border-color: #444;
}
/* �����̉E�� ----------*/
.memoright {
  background: #cb8;
  border-color: #444;
}

/* �����Җ� ----------*/
.mesname {
  font-weight: bold;
  border-bottom: 1px dashed #444;
  background: transparent;
}

/* �����֌W���� ------*/
.msg {
  border-right: solid 4px #222;
}

/* �ʏ픭�� ------*/
.MSAY .action,
.MSAY .msg,
.MSAY .memoleft,
.MSAY .memoright,
.SAY .action,
TABLE.SAY .msg,
.SAY .memoleft,
.SAY .memoright,
.QUEUE .msg,
.QUEUE .memoleft,
.QUEUE .memoright,
.mes_nom .action,
.mes_nom .memoleft,
.mes_nom .memoright,
.mes_nom .msg {
  color: #000;
  background: #ba7;
} /*�ؗ��F*/
.formpl_common,
.formpl_common .msg {
  border-color: #720;
}
.formpl_gm,
.formpl_gm textarea {
  border-color: #720;
  color: #ffa;
  background-color: #002;
}

/* bug-fix */
.btn {
  color: #333 !important;
}
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-inverse {
  color: #fff !important;
}
